.Easy{
    background-color: #f4f7fc;
    padding-left: 130px;
    margin-top: 150px;
    padding-top: 110px;
    padding-bottom: 100px;
    
}

.sp{ 
    font-size: 50px;
    padding-top: 100px;
    padding-left: 280px;
}

.abcd{
    padding-left: 273px;
    font-size: 22px;
}

.abcde{
    padding-left: 550px;
    font-size: 22px;
    
}

.pic{
    margin-left: 265px;
    margin-right: 460px;
    padding-left: 210px;
    padding-top: 10px;
    font-size: 22px;
    background-color: rgb(252, 252, 252);
}

.hyper{
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom:200px;
}

.third{
    font-size: 23px;
    margin-top: 20px;
    margin-left: 450px;

}

