







































/*div{
    color: blue;
}
#abcd{
    font-size: 30px;
    color: cadetblue;
}
.xyz{
    border: 1px solid green;
    color: chartreuse;
}

.slds-border_top{
    color: greenyellow;
    font-size: 88px;
    border: hotpink;
    border: 10px solid rgb(135, 34, 148);
}

div{
    padding: 10px ;
    border: 5px solid brown;
    margin: 20px ;
}*/


